{%  extends 'flatpages/default.html' %}
{% load static %}
{% block title %}Новости{% endblock title %}
{% block content %}
<section class="page-section recent-game-page spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="recent-game-item">
                            <div class="rgi-thumb set-bg" data-setbg="{% static 'img/pict.jpg' %}">
                              
                            </div>
                            {% for post in posts %}
                            <div class="rgi-content">
                                <h5>{{ post.header }}</h5>
                                <p>{{post.text}}</p>
                                <a href="{% url 'comments' %}" class="comment">Comments</a>
                                <div class="rgi-extra">
                                    <div class="rgi-star"><img src="img/icons/star.png" alt=""></div>
                                    <div class="rgi-heart"><img src="img/icons/heart.png" alt=""></div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>	
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
                    

{% endblock %}