{%  extends 'flatpages/default.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}{% endblock title %}
{% block content %}
<section class="page-section community-page set-bg" data-setbg="{% static 'img/picture.jpg' %}">
<div class="community-warp spad">
<div class="container">
{% for response in responses %}
    {% if response.ad.user.user == user %}
        <ul class="community-post-list">
            <li>
                <div class="community-post">
                    <div class="post-content">
                        <p>{{response.ad.user}}</p>
                        <p>{{user}}</p>
                        <p>Аутентифицированный пользователь: {{user}}</p>
                        <p>{{ response.text }}</p>
                        <div class="post-date text-end mt-3 pe-3">{{ response.datetime }}</div>
                        <p class="text-end pe-3" style="color: #0dcaf0"><small class="text-white">Пользователь: </small>{{ response.user }}</p>
                    </div>
                </div>
            </li>
        </ul>
        {% else %}
        {{response.ad.user.user}}
        {{user}}
    {% endif %}
{% endfor %}
</div>
</div>
</section>
{% endblock %}